<html>

<body>
    <div style="text-align: center;">
        <h3 style="font-weight: bolder;">Reset Password</h3>
        <br>
        <span> Welcome to Estilo! </span> <br><br>
        <span> Confirming your account will give you full access to Estilo features and all future
            notifications will be sent to this email address. To continue, please reset your password. </span> <br> <br>
        <a href='{{host}}/#/forgot-password/{{user_id}}'>Reset Password</a>
        <br><br>
        <p>You are receiving this email because you signed up to Estilo.
            If you did not make this request, please contact +91 8235381987 </p>
    </div>
</body>

</html>